// colors
$gold-color: #B88E2F;
$black-color: #000;
$white-color: #fff;
$title-color: #3A3A3A;
$text-color: #616161;
$gray-color: #9F9F9F;
$card-bg-color: #F4F5F7;
$section-bg-color: #FCF8F3;
$border-color: #D9D9D9;
$new-bg-color: #2EC1AC;

$main-width: 1550px;
$container-width: 1184px;
$products-width: 1236px;

$font-size-12: 12px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$radius-5: 5px;
$radius-10: 10px;
$radius-50: 50%;

$transition: 0.3s;